body {
    background-color: #204758;
}

header {
    background-color: #A69985;
    border: 10px black solid;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

h3, h1 {
    text-align: center;
    font-family: 'Barriecito', cursive;
    font-size: 45px;
}

.hidden {
    display: none;
}

p, li, nav {
    font-family: 'Squada One', cursive;
    font-size: 25px;
}
